name: Compile Assets

on:
  push:
    branches:
      - test-github-actions

jobs:
  compile-assets:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Check Assets status
      # If nothing was changed in resources/assets blocks job (need to find a better way)
      run: |
        trap 'exit 0' ERR
        ASSETS_CHANGED=`git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep -c 'resources/assets'`
        echo "::set-env name=ASSETS_CHANGED::$ASSETS_CHANGED"
    - name: Install Dependencies
      run: |
        if [[ -z "$ASSETS_CHANGED" ]]; then exit 0; fi
        npm install
    - name: Compile Assets
      run: |
        if [[ -z "$ASSETS_CHANGED" ]]; then exit 0; fi
        npm run production
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v1
      id: cpr
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        title: Compile Assets
        commit-message: Automatic assets compilation
        author-name: github-actions[bot]
        author-email: 41898282+github-actions[bot]@users.noreply.github.com
        committer-name: GitHub
        committer-email: noreply@github.com
        
